.App {
  text-align: center;
}

.App__header {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.App__navigation {
  display: flex;
  justify-content: space-between;
}

.App__navigation a.active {
  color: red;
}
